@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Merriweather", serif;
}

/* Banner style container starts here */
.banner-container {
  max-width: 1440px;
  min-height: 500px;
  margin: 0 auto;
  margin-top: 20px;
  background-image: url(images/Banner\ Image.png);
  background-position: center;
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: overlay;
  background-size: cover;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;
}

.content-one {
  color: rgb(255, 255, 255);
  font-family: Merriweather;
  font-size: 32px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0%;
  text-align: center;
}

.content-two {
  font-size: 60px;
  font-weight: 700;
  line-height: 95px;
  color: #fff;
  text-align: center;
}

.offer {
  max-width: 802.9px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 70px;
  align-items: center;
  gap: 20px;
}

.off {
  color: rgb(255, 0, 0);
  font-size: 52px;
  font-weight: 700;
}

.offer-details {
  color: rgb(255, 0, 0);
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
}

.categories {
  color: rgb(7, 2, 17);
  font-size: 48px;
  font-weight: 700;
}

.new-year {
  display: block;
  margin: 0 auto;
}


/* Mid Night section */
.midnight-party-container {
  width: 1320px;
  height: 600px;
  margin: 0 auto;
  background-image: url('./images/Vectorrr.png');
  display: flex;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.4);
  background-blend-mode: overlay;
  margin: 80px 0;

}

.left-content{
  width: 50%;
  width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  margin: 0 auto;
  gap: 14px;
}

.left-content h2{
  color: white;
  font-size: 50px;
  font-weight: 900;
}

.left-content p{
  color: white;
  font-size: 18px;
  font-weight: 400;
}


.right-content{
  width: 50%;
  width: 642px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-content img{
  width: 40%;
  height: auto;

}

.btn{
  color: white;
  background-color: rgb(107, 117, 63);
  padding: 20px;
  font-weight: bolder;
  border: none;
  border-radius: 9px;
}


.welcome {
  color: rgb(255, 255, 255);
  font-family: Merriweather;
  font-size: 64px;
  font-weight: 900;
}

.description-come {
  color: rgba(255, 255, 255, 0.8);
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
}

.join {
  border: 0;
  margin: 20px;
}

.main-two {
  border-radius: 16px;
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1),
    rgba(255, 0, 0, 0) 100%
  );
  padding: 130px 300px;
  text-align: center;
}

.olange {
  color: rgb(255, 0, 0);
  font-size: 20px;
  font-weight: 900;
}

.joinn {
  background-color: orange;
  border: 0;
  border-radius: 5px;
  color: white;
  padding: 6px;
  margin-top: 10px;
}

.flex-kor {
  margin-top: 20px;
  padding: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}

.soon {
  color: rgb(7, 2, 17);
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  line-height: 60px;
  letter-spacing: 0%;
  text-align: left;
  text-transform: capitalize;
}

.offer-description {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0%;
  text-align: left;
}

.happy {
  outline: 3px solid red;
  border-radius: 50%;
  offset: 20px;
  object-fit: cover;
  width: 200px;
  height: 200px;
}

.simple {
  padding: 80px 150px;
  text-align: center;
}

.hudai {
  display: flex;
  padding: 50px;
  gap: 25px;
  justify-content: space-between;
  align-items: center;
  background-image: url("images/Group\ 44.png");
  background-repeat: no-repeat;
  background-image: linear-gradient(red, yellow);
}

.gift {
  text-align: left;
  margin-top: 50px;
  padding: 80px;
}

.images {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px;
  width: 1320px;
  height: 1163px;
}

.newsletter{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FF00000D;
  padding: 100px;
}

.mama{
  position: relative;
}

.btn-danger{
  border: 0;
  border-radius: 20%;
  padding: 20px;
  color: white;
  background-color: red;
  position: absolute;
  bottom: 20px;
  right: 70px;
}

footer{
  display: flex;
  background-color: black;
  color: white;
  padding: 60px;
  margin-right: 100px;
}


@media screen and (max-width:576px) {
  .banner-container {
    
    margin: 0 auto;
    background-image: url(images/Banner\ Image.png);
    background-position: center;
    background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode: overlay;
    background-size: cover;

  }
 
.offer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 70px;
  align-items: center;
}
.offer img{
  width: 100%;
}
.content-one{
  font-size: 20px;
}
.content-two {
  font-size: 40px;
}
.categories{
  font-size: 30px;
}
.midnight-party-container{
  flex-direction: column;
  text-align: center;
  width: 100%;
  gap: 30px;
}
.left-content{
  width: 100%;
}
.right-content{
  width: 100%;
}

}