@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Space+Grotesk:wght@300..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Space Grotesk", sans-serif;
}

/* Banner style container starts here */
.banner-container {
  max-width: 1440px;
  width: 96%;
  border-radius: 1rem;
  margin: 1rem auto;
  /* padding: 8rem 0; */
  min-height: 32rem;
  background-image: url(images/Banner\ Image.png);
  background-position: center;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: overlay;
  background-size: cover;
  display: flex;
  justify-content: center;
  text-align: center;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content-one {
  color: rgb(255, 255, 255);
  font-size: 2rem;
  font-weight: 400;
}

.content-two {
  font-size: 60px;
  font-weight: 700;
  color: #fff;
}

.offer {
  max-width: 40rem;

  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2rem auto;
  align-items: center;
  gap: 1rem;
}

.off {
  color: rgb(255, 0, 0);
  font-size: 3.3rem;
  font-weight: 700;
}

.offer-details {
  color: rgb(255, 0, 0);
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
}

.categories {
  color: rgb(7, 2, 17);
  font-size: 48px;
  font-weight: 700;
}

.new-year {
  display: block;
  margin: 0 auto;
  width: 90%;
}

/* Mid Night section */
.midnight-party-container {
  width: 90%;
  max-width: 1440px;
  margin: 3rem auto;
  background-image: url("./images/Vectorrr.png");
  display: flex;
  justify-content: center;
  justify-items: center;
  background-position: center;
  background-size: cover;
  padding: 1rem;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: overlay;
}

.left-content {
  width: 50%;
  justify-content: center;
  justify-items: center;
  display: flex;
  min-height: 30rem;
  flex-direction: column;
  margin: 0 auto;
  gap: 2rem;
}

.left-content h2 {
  color: white;
  font-size: 50px;
  font-weight: 900;
}

.left-content p {
  color: white;
  font-size: 18px;
  font-weight: 400;
}

.right-content {
  width: 40%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.right-content img {
  width: 18rem;
}

.btn {
  padding: 20px;
  background: none;
  color: white;
  font-size: larger;
  font-weight: bolder;
  border: none;
  outline: 0;

  align-self: start;
}

.event-section {
  max-width: 1200px;
  margin: 4rem auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 6rem;
  justify-content: center;
  align-items: center;
  background-color: rgb(236, 220, 223);
  background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
}

.event-red {
  color: red;
  text-decoration: underline;
}

/* Best year Offer */

.best-year-offer {
  max-width: 1440px;
  width: 90%;
  margin: 70px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.best-offer {
  width: 30%;
  flex: content;
}

.happy-new-year h4 {
  color: red;
  font-weight: bolder;
  font-size: 2rem;
}

.red-circle img {
  width: 16rem;
  height: 15rem;
  margin: 0 auto;
  display: block;
  text-align: center;
}

.red-circle {
  margin-right: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  padding: 1.5rem;
  border-radius: 50%;
  border: 0.4rem solid red;
}

/* Holiday section */
.holiday-section-container {
  max-width: 1320px;
  width: 88%;
  margin: 4rem auto;
  position: relative;
  height: 44rem;
}

.holiday-text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 15px;
}

.holiday-text p {
  width: 60%;
}

#holidayy {
  color: red;
  font-weight: bolder;
}














/* Portfolio Section */
.portfolio-container {
  max-width: 1200px;
  margin: 3rem auto;
}

.portfolio-text-content{
  padding: 1rem;
}
.portfolio-text-content h5 {
  color: red;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 5px;
}

.portfolio-items {
  margin-top: 2.4rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.item {
  width: 350px;
  margin: 0 auto;
}

.item img {
  width: 100%;
}








/* NewsLetter Section */

#newsletter {
  max-width: 1440px;
  margin: 3rem auto;
  background: rgba(255, 0, 0, 0.05);
  width: 90%;
}

.newsletter-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 90%;
  margin: 0 auto;
  gap: 0.5rem;
  padding: 2rem;
}

/* footer section */
.footer-container {
  background-color: black;
  margin: 0 auto;
  color: white;
  margin-top: 40px;
  display: flex;
  padding: 2rem;
  flex-direction: column;
  justify-content: space-between;
}

.call {
  display: flex;
  gap: 10px;
}

.web {
  display: flex;
  gap: 10px;
}

.footer-first-section {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 40px;
}

.icons {
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
  margin-top: 70px;
}

.reserved {
  width: 90%;
  margin: 4rem auto 0.3rem auto;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  justify-content: space-between;
}

@media screen and (max-width: 576px) {
  .offer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 70px;
    align-items: center;
  }
  .offer img {
    width: 100%;
  }
  .content-one {
    font-size: 20px;
  }
  .content-two {
    font-size: 40px;
  }
  .categories {
    font-size: 30px;
  }
  .midnight-party-container {
    flex-direction: column;
    text-align: center;
    width: 100%;
    gap: 30px;
  }
  .left-content {
    width: 100%;
  }
  .right-content {
    width: 100%;
  }

  .best-year-offer {
    flex-direction: column;
    width: 100%;
    text-align: center;
  }
  .happy-new-year {
    margin-top: 20px;
  }
  .best-offer {
    margin-bottom: 20px;
  }
  .red-circle img {
    width: 300px;
    margin: 0 auto;
  }
  .holiday-section-container{
    display: none;
  }
  .holiday-text p {
    width: 90%;
  }
  .solid-color {
    width: 100%;
  }
  .gift-box .img1 {
    width: 100%;
  }
  .gift-box .img2 {
    display: none;
  }
  .gift-box {
    flex-direction: column;
  }
  .item {
    width: 80%;
  }
  .portfolio-items {
    grid-template-columns: 1fr;
  }
  .footer-first-section,
  .reserved {
    flex-direction: column;
    padding: 40px;
  }
  .icons {
    flex-direction: column;
  }
  
  .footer-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}


@media screen and (min-width:576px) and  (max-width:1090px) {
  .portfolio-items {
    grid-template-columns: 1fr;
  }
  .holiday-section-container{
    display: none;
  }
}
