@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Merriweather", serif;
}

/* Banner style container starts here */
.banner-container {
  max-width: 1440px;
  min-height: 500px;
  margin: 0 auto;
  margin-top: 20px;
  background-image: url(images/Banner\ Image.png);
  background-position: center;
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: overlay;
  background-size: cover;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;
}

.content-one {
  color: rgb(255, 255, 255);
  font-family: Merriweather;
  font-size: 32px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0%;
  text-align: center;
}

.content-two {
  font-size: 60px;
  font-weight: 700;
  line-height: 95px;
  color: #fff;
  text-align: center;
}

.offer {
  max-width: 802.9px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 70px;
  align-items: center;
  gap: 20px;
}

.off {
  color: rgb(255, 0, 0);
  font-size: 52px;
  font-weight: 700;
}

.offer-details {
  color: rgb(255, 0, 0);
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
}

.categories {
  color: rgb(7, 2, 17);
  font-size: 48px;
  font-weight: 700;
}

.new-year {
  display: block;
  margin: 0 auto;
}


/* Mid Night section */
.midnight-party-container {
  width: 1320px;
  height: 600px;
  margin: 0 auto;
  background-image: url('./images/Vectorrr.png');
  display: flex;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.4);
  background-blend-mode: overlay;
  margin: 80px 0;

}

.left-content{
  width: 50%;
  width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  margin: 0 auto;
  gap: 14px;
}

.left-content h2{
  color: white;
  font-size: 50px;
  font-weight: 900;
}

.left-content p{
  color: white;
  font-size: 18px;
  font-weight: 400;
}


.right-content{
  width: 50%;
  width: 642px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-content img{
  width: 40%;
  height: auto;

}

.btn{
  color: white;
  background-color: rgb(107, 117, 63);
  padding: 20px;
  font-weight: bolder;
  border: none;
  border-radius: 9px;
}

.event-section{
  max-width: 1200px;
  margin: 80px auto;
  display: flex;
  gap: 20px;
  height: 300px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(236, 220, 223);
  padding: 50px 10px;
  background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
}

.event-red{
  color: red;
  text-decoration: underline;
}


/* Best year Offer */

.best-year-offer{
  max-width: 1200px;
  margin: 70px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.happy-new-year{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.happy-new-year h4{
  color: red;
  font-weight: bolder;
  font-size: 2rem;
}



.red-circle {
  display: inline-block;
  padding: 10px; 
  background-color: red;
  border-radius: 50%; 
}


/* Holiday section */
.holiday-section-container{
  max-width: 1320px;
  margin: 70px auto;
  position: relative;
  height: 986px;
}

.holiday-text{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 15px;
}

.holiday-text p{
  width: 60%;
}

#holidayy{
  color: red;
  font-weight: bolder;
}

.solid-color{
  width: 1320px;
  height: 229px;
  background-color: red;
  position: absolute;
  top: 80%;
  /* width: 100%; */
}

.gift-box .img1{
  width: 670px;
  height: 570px;
}
.gift-box .img2{
  width: 400px;
  height: 350px;
  z-index: 0;
}

.gift-box{
  margin-top: 200px;
  z-index: 10;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}


.discount{
  position: absolute;
  bottom: 55%;
  left: 40%;
  z-index: 3;
}



/* Portfolio Section */
.portfolio-container{
  max-width: 1200px;
  margin: 70px auto;
}

.portfolio-text-content h5{
  color: red;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 5px;
}

.portfolio-items{
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 20px;
}

.item{
  width: 350px;
  margin: 0 auto;
}

.item img{
  width: 100%;
}



@media screen and (max-width:576px) {
  .banner-container {
    
    margin: 0 auto;
    background-image: url(images/Banner\ Image.png);
    background-position: center;
    background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode: overlay;
    background-size: cover;

  }
 
.offer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 70px;
  align-items: center;
}
.offer img{
  width: 100%;
}
.content-one{
  font-size: 20px;
}
.content-two {
  font-size: 40px;
}
.categories{
  font-size: 30px;
}
.midnight-party-container{
  flex-direction: column;
  text-align: center;
  width: 100%;
  gap: 30px;
}
.left-content{
  width: 100%;
}
.right-content{
  width: 100%;
}

.best-year-offer{
  flex-direction: column;
  width: 100%;
  text-align: center;
}
.happy-new-year{
  margin-top: 20px;
}
.best-offer{
  margin-bottom: 20px;
}
.red-circle img{
  width: 300px;
  margin: 0 auto;
}
.holiday-text p{
  width: 90%;
}
.solid-color{
  width: 100%;
}.gift-box .img1{
  width: 100%;
}
.gift-box .img2{
  display: none;
}
.gift-box{
  flex-direction: column;
}.item{
  width: 80%;
}
.portfolio-items{
  grid-template-columns: 1fr;
}
}